[submodule "code"]
	path = code
	url = https://6f335fea493296af7158a4d668923dc64017b37e@github.com/ChristopherMotes/prefix-devops-code-shiny-waffle.git
        # This file can only call a branch
        # More complex behaviors can occur as the real head is stored in .git/modules
        #
	#branch = ChristopherMotes-patch-1
