[submodule "code"]
	path = code
	url = https://6f335fea493296af7158a4d668923dc64017b37e@github.com/ChristopherMotes/prefix-devops-code-shiny-waffle.git
        #commit = f3e0f0b088
        #tag = thisTag
        #branch = thisTag
	branch = ChristopherMotes-patch-1
